docs/SecureService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="SecureService" targetNamespace="http://demo.client.cxf/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://demo.client.cxf/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://demo.client.cxf/" xmlns="http://demo.client.cxf/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="simpleResponse">
<xs:sequence>
<xs:element minOccurs="0" name="isOld" type="xs:boolean"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="secureMethod" type="secureMethod"/>
<xs:complexType name="secureMethod">
<xs:sequence/>
</xs:complexType>
<xs:element name="secureMethodResponse" type="secureMethodResponse"/>
<xs:complexType name="secureMethodResponse">
<xs:sequence>

<xs:element minOccurs="0" name="return" type="simpleResponse"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="secureMethod">
    <wsdl:part element="tns:secureMethod" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="secureMethodResponse">
    <wsdl:part element="tns:secureMethodResponse" name="parameters">

    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SecureServicePortType">
    <wsdl:operation name="secureMethod">
      <wsdl:input message="tns:secureMethod" name="secureMethod">
    </wsdl:input>
      <wsdl:output message="tns:secureMethodResponse" name="secureMethodResponse">
    </wsdl:output>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="SecureServiceSoapBinding" type="tns:SecureServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="secureMethod">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="secureMethod">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="secureMethodResponse">

        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecureService">
    <wsdl:port binding="tns:SecureServiceSoapBinding" name="SecureServicePort">
      <soap:address location="http://localhost:8080/cxf-client-demo/services/secure"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>